body{
	background: url('img/bg.jpg');
	font-family: "Monospace", sans;
}
/*------------------------------- 		Main Blocks  */
#statusbar{
	background: #FFE97F;
}
#main-content-wrapper{
	background: #7FFFC5;
	padding: 10px;
}
#footer{
	background: #FF7FB6;
}
/*------------------------------ 		Statusbar Elements  */

/*------------------------------ 		Main Content Elements */
#info-wrapper{
	background: #7FC9FF;	
}
#text-wrapper{
	background: #11eeC5;
}
#text-field{

}
#input-wrapper{
	margin: 5px auto;
}
#input-field{
	background: #11eeC5;
}
#input-field:focus {
}
.mistake{	
}
#keyboard-wrapper{
	background: #7FC9FF;	
}
/*------------------------------ 		Footer Elements  */